body {
  margin: 0;
  background: #9c34c2;
}

.bg-area {
  position: fixed;
  left: -50%;
  right: -50%;
  top: 0;
  bottom: 0;
  animation: animate 5s ease-in-out infinite alternate;
  background: linear-gradient(90deg, #29aaaf 50%, #a0effe -50%);
  opacity: 0.5;
  z-index: -1;
}

.layer-2 {
  animation-duration: alternate-reverse;
  animation-duration: 3s;
}

.layer-3 {
  animation-duration: 5s;
}
.banner-text {
  left: 50%;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.banner-text h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 55px;
  letter-spacing: 5px;
  color: #9c34c2;
  margin: 0;
}

.banner-text h5 {
  font-size: 20px;
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  color: #9c34c2;
}

@keyframes animate {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}

a {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 405px;
}
